/* Global Layout */
{
  box-sizing: border-box;
}

body {
  text: left;
  font-family: 'Droid Serif', serif;
  color: beige;
  background: #29516d;
}

/* Sections */

.main-nav {
  width: 100%;
  background: black;
}


.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: auto;
  padding: 0;
  max-width: 1200px;
  color: yellow;
}

.pic1 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
}

.pic2 {
  margin-left: auto;
  display: block;
  margin-top: 0px;
  position: relative;

}

.pic3 {
margin-right: auto;
margin-left: auto;
display: block;
position: relative;
}

.p1 {
  font-weight: bold;
  text-align: center;
}

header :hover {
  transform: scale(1.2) rotate(5deg);
}

h1 {
  text-align: center;
  /*background-color: #682B68;*/
  color: beige;
  font-family: 'Droid Serif', serif;
}

h2 {
  font-family: 'PT Serif', serif;
  text-align: center;
  color: beige;
}

aside {
  float: left;
  width: 20%;
  padding: 8px 8px 0 0;
  color: white;

}

ul {
  list-style: none;
}

li {
  text-align: center;
}

table {
    border-collapse: collapse;
}

table, th, tr, td {
    border: 1px solid black;
}

footer, h3 {
font-size: 1.3em;
margin: 40px auto;
text-align: center;
font-family: 'Caveat Brush', cursive;
}
